@using Application.Cities.Queries.GetCitiesList
@{
    ViewData["Title"] = "AddRent";
}

<div class="intro-login">
    <div class="container-fluid" id="intro">
        <div class="intro__inner" id="inner"> </div>
    </div>
    <div class="row container-fluid align-self-center align-bottom mt-5">
        <div class="col-1">

        </div>
        <div class="col-10 shadow mb-5 bg-white rounded align-self-center acc-container p-md-5 unselectable">
            <div class="row">
                <div class="col-4">
                    @*<div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                Choose City
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @foreach (var city in Model.Cities)
                {
                    <p class="dropdown-item">@city.Name</p>
                }
            </div>
        </div>*@
                    <select class="selectpicker" data-style="btn-primary" multiple data-max-options="2">
                        @foreach (var city in Model.Cities)
                        {
                            <option>@city.Name</option>
                        }
                    </select>
                </div>
                <div class="col-4">
                    <select asp-for="Name" asp-items="Html.GetEnumSelectList<CityDto>()"></select>
                </div>
            </div>
        </div>
    </div>
</div>




