@using Application.Cities.Queries
@using Domain.Entities

@{
    ViewData["Title"] = "AddRent";
}

<div class="intro-login">
    <div class="container-fluid" id="intro">
        <div class="intro__inner" id="inner"> </div>
    </div>
    <div class="row container-fluid align-self-center align-bottom mt-5">
        <div class="col-1">

        </div>
        <div class="col-10 shadow mb-5 bg-white rounded align-self-center acc-container p-md-5 unselectable">
            <div class="row">
                    <div class="form-group col-md-4  col-sm-12">
                        <form asp-controller="Location" asp-action="GetLocations" id="myForm">
                            <select class="custom-select" id="city-list">
                                @foreach (var city in Model.Cities)
                                {
                                    <option asp-for="Name" value="@city.Id" class="dropdown-item">@city.Name</option>
                                }
                            </select>
                        </form>
                    </div>
                <div class="col-md-4  col-sm-12">
                    <select class="custom-select form-control" id="location-list" name="location-list">

                    </select>
                    <p id="rData">
                    </p>
                    @section Scripts {
                        <script type="text/jscript">
                            $(document).ready(function () {
                                $("#city-list").change(function () {
                                    console.log("city change");
                                    $("#location-list").empty();
                                    $.ajax({
                                        type: 'POST',
                                        url: '@Url.Action("GetLocationsViaCities")',
                                        dataType: 'json',
                                        data: { id: $("#city-list").val() },
                                        success: function (mems) {
                                            console.log("function work");
                                            var response = JSON.parse(JSON.stringify(mems));
                                            var markup;
                                            for (var x = 0; x < response.length; x++) { markup += "<option value=" + response[x].value + ">" + response[x].text + "</option>"; }
                                            $("#location-list").html(markup).show();
                                    },
                                    error: function (ex) {
                                        alert('Failed to retrieve states.' + ex);
                                    }
                                });
                                return false;
                            })
                        });
                        </script>
                    }
                </div>
                <div class="col-md-4">
                    <label for="start">Start date:</label>

                    <input type="date" id="start" name="trip-start"
                           value="2018-07-22"
                           min="2018-01-01" max="2018-12-31">
                </div>
            </div>
        </div>
    </div>
</div>





