@model Application.Cars.Queries.GetCarsList.CarsListVm
@{
    ViewData["Title"] = "GetCars";
}

<div class="intro-car">
    <div class="container-fluid" id="intro">
        <div class="intro__inner" id="inner"> </div>
    </div>
    <div class="row container-fluid align-self-center align-bottom mt-5">
        <div class="col-1">

        </div>
        <div class="col-10 shadow mt-5 bg-white rounded align-self-center acc-container p-md-5 unselectable">
            @foreach (var car in Model.Cars)
             {
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                        <p>@car.Name</p>
                        @Html.Raw("<img style='width:200px; height:120px;' src=\"data:image/jpeg;base64,"
                                                    + Convert.ToBase64String(car.Photo) + "\" />")
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">

                    </div>
                </div>
             }
            <div class="row text-right">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    @if (Model.PageViewModel.HasPreviousPage)
                    {
                        <a asp-action="GetCars"
                           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                           class="btn btn-log btn-width">
                            <i class=""></i>
                            Back
                        </a>
                    }
                    @if (Model.PageViewModel.HasNextPage)
                    {
                        <a asp-action="GetCars"
                           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                           class="btn btn-log btn-width">
                            Next
                            <i class=""></i>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



