
@{
    ViewData["Title"] = "GetCars";
}

<div class="intro-login">
    <div class="container-fluid" id="intro">
        <div class="intro__inner" id="inner"> </div>
    </div>
    <div class="row container-fluid align-self-center align-bottom mt-5">
        <div class="col-1">

        </div>
        <div class="col-10 shadow mb-5 bg-white rounded align-self-center acc-container p-md-5 unselectable">
           
        </div>
    </div>
</div>



