@model Application.Account.Command.CreateResetPasswordLink.CreateResetPasswordLinkCommand
@{
    ViewData["Title"] = "CreateResetPasswordLink";
}

<div class="intro-login">
    <div class="container-fluid" id="intro">
        <div class="intro__inner" id="inner"> </div>
    </div>
    <div class="row container-fluid align-self-center align-bottom mt-5">
        <div class="col-1"></div>
        <div class="col-10 shadow mb-5 bg-white rounded align-self-center acc-container p-md-5 unselectable">
            <form class="" id="reset-form" method="post" asp-controller="Account" asp-action="CreateResetPasswordLink">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                        <label for="mail" asp-for="Email" class="text-uppercase font-weight-light"><b>Mail</b></label>
                        <input type="text" class="form-control input-xs" asp-for="Email" placeholder="Enter Mail" id="mail" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input class="btn btn-log sendButton" type="submit" value="Next" id="up" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>

