@model Application.Account.Command.ResetPassword.ResetPasswordCommand
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="intro-login">
    <div class="container-fluid" id="intro">
        <div class="intro__inner" id="inner"> </div>
    </div>
    <div class="row container-fluid align-self-center align-bottom mt-5">
        <div class="col-1"></div>
        <div class="col-10 shadow mb-5 bg-white rounded align-self-center acc-container p-md-5 unselectable">
            <form class="" id="reset-form" method="post" asp-controller="Account" asp-action="ResetPassword">
                <div class="row">
                    <div class="col-12">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="Code" type="hidden" />
                        <label asp-for="Email"  class="text-uppercase font-weight-light"></label>
                        <input asp-for="Email" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 text-left">
                        <label for="psw" asp-for="Password" class="text-uppercase font-weight-light"><b>Password</b></label>
                        <input type="password" class="form-control input-xs" asp-for="Password" placeholder="Enter Password" id="psw" required>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 text-left">
                        <label for="pswC" asp-for="ConfirmPassword" class="text-uppercase font-weight-light"><b>Confirm Password</b></label>
                        <input type="password" class="form-control input-xs" asp-for="ConfirmPassword" placeholder="Confirm Password" id="pswC" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input class="btn btn-log sendButton" type="submit" value="Reset" id="up" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>
