<header class="header">
  <div class="container unselectable">
    <div class="header__inner">
      <nav class="nav navbar navbar-expand-md">
        <div class="container-fluid">
          <a class="navbar-brand navbar-header" href="#">MyCar</a>
          <button type="button" id="but" class="navbar-toggler" data-toggle="collapse"
                  data-target="#navbarSuport" aria-controls="navbarSuport" aria-expanded="false">
            <span class="fa fa-bars"></span>
          </button>
          <div class="navbar-collapse nav-collapse collapse" id="navbarSuport" aria-expanded="true" role="navigation">
            <ul class="nav navbar-nav" id="nav">
              <li class=" nav-item">
                <a class="nav__link nav-link active" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav__link nav-link">Service</a>
              </li>
              <li class="nav-item">
                <a class="nav__link nav-link">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav__link nav-link">My Account</a>
              </li>
              <li class="nav-item">
                <a class="nav__link nav-link">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
